*{
  margin: 0;
  padding: 0;
}

body{
  font-family: sans-serif;
  margin-left: 3%;
  margin-right: 3%;
}

p{
  text-align: center;
  padding: 4px;
}

#iut{
  content: url("../images/logo-iut.jpg");
  width: 300px;
  margin: 0 auto 0 auto;
}

#first{
  margin-top: 10px;
  background-color: blue;
}

#second{
  background-color: white;
}

#third{
  background-color: red;
}

img{
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0 10px 0;
  align-content: center;
  display: block;
  width: 100%;
  max-width: 500px;
}

form{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
.formulaire input{

  font-size: 1.6rem;
  border-bottom: 1px solid grey;
}

@media all and (max-width: 500px){
  p{
    padding: 4px;
    font-size: 2.4rem;
  }
}
@media only screen and (min-resolution: 200dpi){
  #iut{
    content: url("../images/logo-iut.jpg");
    width: 600px;
    margin: 0 auto 0 auto;
  }
}
