*{
  margin: 0;
  padding: 0;
}

html{
  background-image: url("../images/bg.jpg");
  background-size: cover;
}

body{
  font-family: sans-serif;
  color: white;
  margin-left: 3%;
  margin-right: 3%;
  font-size: 1.6rem;
  background-color: rgba(100,100,100,0.3);
}

p{
  text-align: center;
  padding: 4px;
}

h1{
  font-size: 8vw;
  text-align: center;
  margin-top: 2%;
}

#iut{
  content: url("../images/logo-iut.jpg");
  width: 300px;
  margin: 0 auto 0 auto;
}


img{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  align-content: center;
  display: block;
  width: 100%;
  max-width: 500px;
}

form{
  text-align: center;
  margin:auto;
  display: block;
  min-width: 450px;
  max-width: 500px;
}
form input{
  width: 100%;
  font-size: 1rem;
  border-bottom: 1px solid grey;
}


table{
  font-size: 0.7em;
  border-collapse: collapse;

  margin: auto;
  margin-bottom: 2%;
}

th{
  background-color: grey;
}

td,th{
  border: 1px solid black;
}

@media all and (max-width: 900px){
  td,th{
    display: block;
  }
  td,th,table{
    width: 100%;
    max-width: 500px;
    margin: auto;
  }

  th,td{
    border: 0 none;
    text-align: center;
  }

  table{
    border: 1px solid black;
    margin-bottom: 2%;
  }
}

@media all and (max-width: 500px){
  p{
    padding: 4px;
    font-size:1.65rem;
  }

   form {
    max-width: 100%;
    min-width: 0%;
  }

}



@media all and (-webkit-min-device-pixel-ratio:2){
  #iut{
    content: url("../images/logo-iut-hq.jpg");
    width: 300px;
    margin: 0 auto 0 auto;
  }

   .formulaire input{
    font-size: 2rem;
  }
}
